.homeBanner {
  background: #FCC700;
  height: 558px;
  top: 0;
}

.homeNav {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
}

.homeLogo {
  padding-left: 65px;
}

.homeButton {
  color: #fff;
  width: 100px;
  height: 30px;
  background: #433434;
  border-radius: 5px;
  border: none;
}

.main {
  display: flex;
  background-color: sienna;
  /* width: 966px;
  height: 393px; */
  /* margin-left: 237px;
  margin-right: 239.26px;
  margin-top: 100.01px; */
}

.mainContent {
  display: flex;
  background-color: seagreen;
}

.mainText {
  background-color: #fff;
  
  font-family: Abhaya Libre ExtraBold, serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 65px;
  /* identical to box height */
  color: #433434;


}

#main-text-1 {
  /* top: 180px;
  left: 237px; */
  background-color: skyblue;
}

#main-text-2 {
  /* top: 255px;
  left: 237px; */
  background-color: skyblue;
}

.mainStick {
  width: 150px;
  height: 3px;
  background: #433434;
}

.mainDescription {
  width: 274px;
  height: 76px;
  background-color: skyblue;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #000000;
}

.mainImage {
}