.home-banner {
  background: #FCC700;
  height: 558px;
  top: 0;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
}

.home-logo {
  padding-left: 65px;
}

.home-button {
  color: #fff;
  width: 100px;
  height: 30px;
  background: #433434;
  border-radius: 5px;
  border: none;
}

.main {
  display: flex;
  background-color: #fff;
}

.main-text {
  background-color: #fff;
}