.mainDiv {
  background-color: #EFEFEF;
}

.homeBanner {
  background: #FCC700;
  height: 558px;
  top: 0;
}

.homeNav {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
}

.homeLogo {
  padding-left: 65px;
}

.homeButton {
  color: #fff;
  width: 100px;
  height: 30px;
  background: #433434;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
}

.headerContent {
  display: flex;
}

.headerText {
  font-family: Abhaya Libre ExtraBold, serif;
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 65px;
  color: #433434;
  margin-top: 100px;
}

.headerStick {
  width: 150px;
  height: 3px;
  background: #433434;
  margin-top: 1%;
}

.headerDescription {
  width: 274px;
  height: 76px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  margin-left: 30px;
  margin-top: 0%;
}

.headerImage {
  margin-top: 50px;
  margin-left: 30px;
}

.row {
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
}

.restaurantCard {
  width: 250px;
  height: 95px;
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#popRestaurantTitle {
  font-family: Abhaya Libre ExtraBold;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-top: 59px;
  margin-left: 190px;
  margin-bottom: 30px;
}

.restaurantLogo {
  height: 65px;
  width: auto;
}